@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../styles/variables";

.main-header-container {
  background-color: #fff;

  .breadcrumb {
    font-size: 0.85rem;
    margin-bottom: 0px;
    padding: 0px;
    padding-left: 1rem;
    background-color: transparent;
    a {
      color: $font-color;
    }
    a:hover {
      text-decoration: none;
      color: $theme-color-main;
    }
  }
  .breadcrumb-item + .breadcrumb-item::before {
    font-size: 0.5rem;
  }
  .breadcrumb-item.active {
    font-weight: 500;
  }
}